:root {
  --my-color-black: #000000;
  --my-color-card: var(--my-color-white);
  --my-color-card-50: #ffffff80;
  --my-color-card-border: #ede8e3;
  --my-color-card-hover: #f7fafe;
  --my-color-divider: #0000001f;
  --my-color-grey-1: #f3f6f8;
  --my-color-grey-2: #e0e9ef;
  --my-color-grey-3: #aabfcf;
  --my-color-grey-4: #6a8295;
  --my-color-grey-5: #35414a;
  --my-color-grey-6: #191918;
  --my-color-nearly-white: #f8f8f8;
  --my-color-site-background: #f8f8f8;
  --my-color-transparent: #00000000;
  --my-color-white: #ffffff;
  --my-color-accent-primary: var(--my-color-grey-5);
  --my-color-accent-secondary: var(--my-color-grey-4);
  --my-color-accent-tertiary: var(--my-color-grey-3);
  --my-color-brand-primary: #3d5b59;
  --my-color-brand-primary-dk: #2b403e;
  --my-color-brand-primary-lt: #94b7b5;
  --my-color-brand-secondary: #b5e5cf;
  --my-color-brand-secondary-dk: #35986b;
  --my-color-brand-secondary-lt: #ddf3e9;
  --my-color-brand-tertiary: #fcb5ac;
  --my-color-brand-tertiary-dk: #971605;
  --my-color-brand-tertiary-lt: #feddd9;
  --my-color-button-primary: var(--my-color-brand-primary);
  --my-color-button-primary-hover: var(--my-color-brand-primary-dk);
  --my-color-button-primary-text: var(--my-color-white);
  --my-color-button-secondary: var(--my-color-brand-secondary);
  --my-color-button-secondary-hover: var(--my-color-brand-secondary-dk);
  --my-color-button-secondary-text: var(--my-color-black);
  --my-color-button-tertiary: var(--my-color-white);
  --my-color-button-tertiary-hover: #f9fafb;
  --my-color-button-tertiary-text: var(--my-color-button-primary);
  --my-color-form-background: var(--my-color-white);
  --my-color-form-border: #cbd2cc;
  --my-color-form-border-active: var(--my-color-accent-tertiary);
  --my-color-form-error: var(--my-color-accent-secondary);
  --my-color-form-filled: var(--my-color-text-headline);
  --my-color-form-icon: #222529;
  --my-color-form-label: var(--my-color-text-headline);
  --my-color-form-placeholder: #52567a;
  --my-color-form-success: var(--my-color-brand-tertiary);
  --my-color-form-warning: #ff8719;
  --my-color-status-active-bg: #d8e4dd;
  --my-color-status-active-text: #13631f;
  --my-color-status-pending-bg: #e2effa;
  --my-color-status-pending-text: #262a38;
  --my-color-status-progress-bg: #fef0c8;
  --my-color-status-progress-text: #89640a;
  --my-color-text-eyebrow: #636363;
  --my-color-text-eyebrow-inverse: var(--my-color-grey-2);
  --my-color-text-headline: #212121;
  --my-color-text-headline-inverse: var(--my-color-white);
  --my-color-text-link: #3363c9;
  --my-color-text-link-dark: var(--my-color-brand-primary-dk);
  --my-color-text-link-dark-hover: var(--my-color-white);
  --my-color-text-link-hover: #2e5dc1;
  --my-color-text-link-hover-tertiary: var(--my-color-button-tertiary-hover);
  --my-color-text-link-light: #77a3ff;
  --my-color-text-link-light-hover: #6e99f5;
  --my-color-text-link-tertiary: var(--my-color-button-tertiary);
  --my-color-text-paragraph: #424242;
  --my-color-text-paragraph-inverse: #d4d6de;
}
